doctype html
html
    head
        title "Nouveau contrevenants - New Transgressors"
    body
        h1 "Nouveau Contrevenants - New Transgressors"
        div
            if multiple
                p Voici la liste des nouveaux restaurants qui ont eux une amendes :
            else
                p Il y a un nouveau contrevenant aujourd'hui :
            ul
                for transgressor in transgressors
                    li
                        div.trangressor
                            p Nom du contrevenant : #{transgressor.businessName} 
                            p Propriétaire : #{transgressor.owner}
                            p Catégorie : #{transgressor.category}
                            p Adresse : #{transgressor.address}
                            p Ville : #{transgressor.city}

                        div.description
                            p #{transgressor.description}
                        div.details
                            ul
                                li Date de l'infraction : <span> #{transgressor.judgement_date} </span> 
                                li Date du jugement : <span> #{transgressor.infraction_date}</span> 
                                li.payment Amende reçues : <span> #{transgressor.amount}</span> 
                    
                else
                    p Si vous avez reçu ce message, il s'agit d'une erreur.
                    p Pour me supporter, écrivez-moi <a href="mailto:lamoucherestomtl@gmail.com">ici</a>.
                    p Merci!
