extends layout

block content
    main.mdl-layout__content
        .error404.mdl-card.mdl-shadow--2dp
            .mdl-card__title.mdl-card--expand
                h2.mdl-card__title-text 404
            .mdl-card__supporting-text
                | Page non trouvée 
            .mdl-card__actions.mdl-card--border
                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href="/")
                    | Retour à l'accueil 
