section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
                    .mdl-card.mdl-cell.mdl-cell--12-col
                        .mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing
                            h4.mdl-cell.mdl-cell--12-col Catégories d'infraction 

                            .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
                                .section__circle-container__circle.clean-icon
                            .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone

                                h5 Propreté 
                                | Les lieux, véhicules, équipements, matériaux et ustensiles servant à la préparation au conditionnement, à l'entreposage, au transport, à l'étiquetage et au service des produits, ainsi que les autres installations et locaux sanitaires, doivent être propres.
                                br
                                a(href='#') proident minim
                                | .

                            .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
                                .section__circle-container__circle.cold-icon
                            .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone

                                h5 Température
                                | Le produit altérable à la chaleur à l'exception des fruits et légumes frais entiers doit être refroidi sans retard et maintenu constamment à une température interne et ambiante ne dépassant pas 4ºC jusqu'à sa livraison au consommateur, sauf pendant le temps requis pour l'application d'un procédé de fabrication ou d'un traitement reconnu en industrie alimentaire et qui exige une plus haute température.
                                br
                                a(href='#') proident minim
                                | .

                            .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
                                .section__circle-container__circle.bug-icon
                            .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone

                                h5 Contaminants 
                                | Le lieu ou le véhicule doit être exempt de contaminants, de polluants, de toute espèce d'animaux y compris les insectes et les rongeurs ou de leurs excréments.
                                br
                                a(href='#') proident minim
                                | .

                            .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
                                .section__circle-container__circle.hair-icon
                            .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone

                                h5 Poils 
                                | Les personnes affectées à la préparation des produits, au lavage ou au nettoyage du matériel et de l'équipement doivent: porter un bonnet ou une résille propre qui recouvre entièrement les cheveux; porter un couvre-barbe propre qui recouvre entièrement la barbe.
                                br
                                a(href='#') proident minim
                                | .

                            .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
                                .section__circle-container__circle.warm-icon
                            .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
                                h5 Chaleur 
                                | Le produit périssable vendu chaud ou servi chaud au consommateur doit être gardé à une température interne d'au moins 60°C jusqu'à sa livraison.
                                br
                                a(href='#') proident minim
                                | .


