extends layout

block content
    main.mdl-layout__content
        #overview.mdl-layout__tab-panel.is-active
            section#fill-in.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
                .mdl-card__menu
                    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
                        i.material-icons close

                .mdl-card.mdl-cell.mdl-cell--12-col
                    .mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing


            section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
                .mdl-card.mdl-cell.mdl-cell--12-col
                    .mdl-card__supporting-text
                        h4 Chercher un restaurant contrevenant
                        #name-search.mld-grid
                            .mdl-cell.mdl-cell--12-col.mdl-textfield.mdl-js-textfield
                                select.mdl-textfield__input(type="text", id="name-search-select" name="name-search-select")
                                    for transgressor in transgressors
                                        option(value="#{transgressor['businessName']}") #{transgressor["businessName"]}
                                label.mdl-textfield__label(for="name-search-select") Tapper un nom 
                        .section.mdl-grid
                            .mdl-layout-spacer
                            .mdl-cell.mdl-cell--4-col
                                button#name-search-submit.date-valid.centered-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent Obtenir détails
                            .mdl-layout-spacer

            section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
                .mdl-card.mdl-cell.mdl-cell--12-col
                    .mdl-card__supporting-text
                        h4 Chercher par date
                        .section#error
                        form#date-search.mld-grid
                            .mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield
                                input.mdl-textfield__input(type="text", id="date-start" name="date-start")
                                label.mdl-textfield__label(for="date-start") Date de début (yyyy-mm-dd)
                            .mdl-cell.mdl-cell--6-col.mdl-textfield.mdl-js-textfield
                                input.mdl-textfield__input(type="text", id="date-end" name="date-end")
                                label.mdl-textfield__label(for="date-end") Date de fin (yyyy-mm-dd)
                        .section.mdl-grid
                            .mdl-layout-spacer
                            .mdl-cell.mdl-cell--4-col
                                button#date-search-submit.date-valid.centered-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent Chercher
                            .mdl-layout-spacer

        // categorie insert (category_card.jade)
        footer.mdl-mega-footer
            .mdl-mega-footer--bottom-section
                ul.mdl-mega-footer--link-list
                    li
                        a(href='http://donnees.ville.montreal.qc.ca/', target="_blank") Données ouvertes 
                    li
                        a(href='/doc') API Documentation (RAML)
