doctype html
//
    Material Design Lite
    Copyright 2015 Google Inc. All rights reserved.
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    https://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Trouver les restaurants qui ont des infractions')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
        title La Mouche - Infractions des restaurants 
        // Add to homescreen for Chrome on Android
        meta(name='mobile-web-app-capable', content='yes')
        link(rel='icon', sizes='192x192', href='images/android-desktop.png')
        // Add to homescreen for Safari on iOS
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='apple-mobile-web-app-title', content='La Mouche - Infractions des restaurants')
        link(rel='apple-touch-icon-precomposed', href='images/ios-desktop.png')
        // Tile icon for Win8 (144x144 + tile color)
        meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
        meta(name='msapplication-TileColor', content='#3372DF')
        link(rel='shortcut icon', href='images/favicon.png')
        // SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel="stylesheet", href="/public/stylesheets/main.css")
        link(rel="stylesheet", href="/public/stylesheets/style.css")
        link(rel='stylesheet', href='/public/stylesheets/mdl.css')
        link(rel='stylesheet', href='/node_modules/selectize/dist/css/selectize.default.css')
        style.
            #view-source {
                position: fixed;
                display: block;
                right: 0;
                bottom: 0;
                margin-right: 40px;
                margin-bottom: 40px;
                z-index: 900;
            }
    body.mdl-demo.mdl-color--grey-100.mdl-color-text--grey-700.mdl-base
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
                header.mdl-layout__header.mdl-layout__header--scroll.mdl-color--primary
                    .mdl-layout--large-screen-only.mdl-layout__header-row
                    .mdl-layout--large-screen-only.mdl-layout__header-row
                        h3 La Mouche 
                    .mdl-layout--large-screen-only.mdl-layout__header-row
                        p Trouve les restaurants de Montréal avec des infractions
                    .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-color--primary-dark
                        a.mdl-layout__tab.is-active(href='/') Accueil

                block content
        script(src='https://code.getmdl.io/1.2.1/material.js')
        script(src='/node_modules/jquery/dist/jquery.min.js')
        script(src='/node_modules/jquery-validation/dist/jquery.validate.js')
        script(src='/node_modules/selectize/dist/js/standalone/selectize.js')
        script(src='/public/javascript/main.js')
           
