html, body {
    height: 100%;
    width: 100%;
}
.content-grid {
    max-width: 960px;
}

.bug-category {
    color: #009476;
    background-color: #009476;
}

.bug-icon {
    background: #009476 url("../images/bug.png") center no-repeat;
}

.clean-category {
    color: #5058FA;
    background-color: #5058FA;
}

.clean-icon {
    background: #5058FA url("../images/finger.png") center no-repeat;
}

.cold-category {
    color: #4CD0FA;
    background-color: #4CD0FA;
}

.cold-icon {
    background: #4CD0FA url("../images/cold.png") center no-repeat;
}

.hair-category {
    color: #A1554D;
    background-color: #A1554D;
}

.hair-icon {
    background: #A1554D url("../images/hair.png") center no-repeat;
}

.warm-category {
    color: #C71436;
    background-color: #C71436;
}

.warm-icon {
    background: #C71436 url("../images/warm.png") center no-repeat;
}

.centered-btn {
    margin: 0 auto;
    display: block;
}

.selectize-dropdown .selectize-dropdown-content {
    max-height: 85px;
}

body .mdl-layout__content .error404.mdl-card {
    width: 700px;
    height: 600px;
    margin: 60px auto;
    display: block;
    background: transparent url("../images/lamouchelogo.png") bottom right no-repeat;
}

.mdl-card__menu, .material-icons {
    color: #455A64;
    z-index: 9999;
}

.error404.mdl-card h2 {
    color: #000;
    font-weight: bold;
}

footer {
    margin-top: 40px;
}
